# yaml-language-server: $schema=https://github.com/KeisukeYamashita/commitlint-rs/releases/latest/download/schema.json
rules:
  description-empty:
    level: warning
  subject-empty:
    level: error
  type-empty:
    level: error
