.DS_Store*
.git
.vscode
swarm local notes.txt
prodnotes
backend/node_modules
next/node_modules
next/ node_modules 2
next/README.md
next/.yarn
next/.next
next/app/register
next/app/api/auth/register
nginx/certs
webscraper/.idea
webscraper/sheets/*.xlsx
webscraper/sheets/*.csv
webscraper/filtered/*.csv
webscraper/filtered
webscraper/lib
webscraper/bin
webscraper/include
webscraper/pyvenv.cfg
/webscraper/images/*/*.jpg
/webscraper/images/*/*.png
client-backup/
backend-backup
docker-compose.backup.yml
docker-compose.dev.backup.yml
docker-compose.prod.backup.yml
docker-compose-backups
next-backup
webscraper/posts_html.txt
webscraper/temp
webscraper/sheets
webscraper/soup
webscraper/logs
webscraper/images/cl_images
webscraper/logs/*.log
grafana
logstash
prometheus
