# yamllint disable rule:comments-indentation
---
###############################################################################
#                           Authelia Configuration                            #
###############################################################################

theme: light
  #default_redirection_url: https://localhost/
#certificates_directory: /config/certificates/
#default_2fa_method: ""

server:
  address: 0.0.0.0:9091
    #host: 0.0.0.0
    #port: 9091

log:
  ## Level of verbosity for logs: info, debug, trace.
  level: debug

totp:
  issuer: gavinkondrath.com

# duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

ntp:
  ## NTP server address.
  address: "time.cloudflare.com:123"

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      key_length: 32
      salt_length: 16
      memory: 1024
      parallelism: 8

access_control:
  ## Default policy can either be 'bypass', 'one_factor', 'two_factor' or 'deny'. It is the policy applied to any
  ## resource if there is no policy to be applied to the user.
  default_policy: deny 
  rules:
    - domain:
        - "gavinkondrath.com"
        - "auth.gavinkondrath.com"
      policy: bypass
    - domain: 
        - "dozzle.gavinkondrath.com"
        - "duplicati.gavinkondrath.com"
      policy: one_factor

session:
  name: authelia_session
  same_site: lax
  expiration: 1h
  inactivity: 5m
  remember_me: 1M
  cookies:
    - domain: 'gavinkondrath.com'
      authelia_url: 'https://auth.gavinkondrath.com'

  redis:
    host: redis
    port: 6379

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

storage:
  local:
    path: /config/db.sqlite3

notifier:
  disable_startup_check: false
  smtp:
    address: smtp-relay.brevo.com:587
    sender: auth@gavinkondrath.com
...
